@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);
	--Dark-gray: hsl(0, 0%, 59%);
	--white: hsl(0, 0%, 100%);
}

html{
  font-size: 93.76%;
}

body{
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background: -45vw -130vh/100% no-repeat url(./assets/bg-pattern-top.svg), 50vw 50vh no-repeat url(./assets/bg-pattern-bottom.svg), var(--Dark-cyan);
}

.center{
  position: absolute;
  top: 25vh;
  left: 34vw;
}

.container{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  color: black;
  box-shadow: 5px 5px 20px 9px rgb(0 0 0 / 20%);
}

@media(max-width:1080px){

  body{
    background: -40vw -30vh/100% no-repeat url(./assets/bg-pattern-top.svg), 50vw 50vh no-repeat url(./assets/bg-pattern-bottom.svg), var(--Dark-cyan) !important;
  }
  .container{
    width: 90vw;
    margin:40px 20px !important;
  }

  .center{
    position: absolute;
    top: 25vh;
    left: 0 !important;
  }
}

.card{
  display: flex;
  flex-direction: column;
}

.patternCard{
  background-image: url('./assets/bg-pattern-card.svg');
  height: 35%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardBody{
  flex: 50%;
  text-align: center;
}

.profileImage{
  background-image: url('./assets/image-victor.jpg');
  height: 100px;
  background-repeat: no-repeat;
  position: relative;
  top: -50px;
  border:5px solid white;
  border-radius: 500px;
}

img {
  border-radius: 50%;
  margin-bottom: -10px;
}

.heading span, .city p, .socialMedia p{
  color: var(--Dark-grayish-blue);
}

.socialMedia{
  display: flex;
  justify-content: space-evenly;
}

hr{
  margin: 20px 0 20px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999;
}
