@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 93.76%;
}

body{
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background: hsl(185, 75%, 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/bg-pattern-top.svg');
  background-position:center;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  color: black;
}

@media(max-width:1080px){
  .container{
    width: 90vw;
    margin:40px 20px !important;
  }
}

.card{
  display: flex;
  flex-direction: column;
}

.patternCard{
  background-image: url('./assets/bg-pattern-card.svg');
  flex: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardBody{
  flex: 50%;
  text-align: center;
}

.profileImage{
  background-image: url('./assets/image-victor.jpg');
  height: 100px;
  background-repeat: no-repeat;
  position: relative;
  top: -50px;
  border:5px solid white;
  border-radius: 500px;
}

img {
  border-radius: 50%;
  margin-bottom: -10px;
}

.heading span{
  color: hsl(227, 10%, 46%);
}

.city p{
  color: hsl(227, 10%, 46%);
}

.socialMedia{
  display: flex;
  justify-content: space-evenly;
}

hr{
  margin: 20px 0 20px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999;
}

.socialMedia p{
  color: hsl(227, 10%, 46%);
}
